<% content_for :local_javascripts do %>
  <%= javascript_include_tag 'charts' %>
<% end %>

<h1>Annual budget</h1>

<%=raw render_table(@budget_table, :id => 'annual-budget') %>

<hr/>
<div id="budget-by-source" class="chart" chart-data='<%=raw @total_by_source.inspect %>'></div>
<div id="annual-evolution-of-total-budget" class="chart"
      chart-data='<%=raw @total_by_year.map {|pair| pair[1]}.inspect %>'
      chart-column-data='<%=raw @total_by_year.map {|pair| pair[0]}.inspect %>'></div>

<div id="budget-by-source-annual-evolution" class="chart"
     chart-data='<%=raw @budget_by_source_annual_evolution.inspect %>'
     chart-column-data='<%= @sources.inspect %>'
     chart-legend='[<%= @years.map {|y| "{label: \"#{y}\"}" }.join(',') %>]'></div>

<script type="text/javascript">

</script>

<script type="text/javascript">
</script>

