<!DOCTYPE html>
<html>
<head>
  <title>Financial Management</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery.jqplot.min',
                             'jqplot.pieRenderer.lineLabels',
                             'jqplot.barRenderer.min',
                             'jqplot.categoryAxisRenderer.min' %>
  <%= yield :local_javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>

<p id='notice'><%= notice %></p>

<%= yield %>

</body>
</html>

